GSIOT/flows.json
[
    {
        "id": "de69d2b85c95d8c0",
        "type": "tab",
        "label": "Fluxo IoT - HiveMQ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1a2b1c02f9d7a1e",
        "type": "mqtt in",
        "z": "de69d2b85c95d8c0",
        "name": "Recebe Dados MQTT",
        "topic": "sensor/dados",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9f1ab740.dad45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "f1d77a5cf6b2d36b"
            ]
        ]
    },
    {
        "id": "f1d77a5cf6b2d36b",
        "type": "json",
        "z": "de69d2b85c95d8c0",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "c2f8b987a7c3d923",
                "1f0e3e2b845f738e",
                "a2a34756f822c5a6",
                "b7a4685a79b8aaec",
                "f4a9b7286c7f3cda",
                "e64f760a113f72fc"
            ]
        ]
    },
    {
        "id": "c2f8b987a7c3d923",
        "type": "ui_gauge",
        "z": "de69d2b85c95d8c0",
        "name": "Temperatura",
        "group": "group1",
        "order": 0,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "1f0e3e2b845f738e",
        "type": "ui_gauge",
        "z": "de69d2b85c95d8c0",
        "name": "Luminosidade",
        "group": "group1",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Luminosidade",
        "label": "LDR",
        "format": "{{value}}",
        "min": 0,
        "max": 4095,
        "colors": [
            "#000000",
            "#ffff00",
            "#ffffff"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "a2a34756f822c5a6",
        "type": "ui_text",
        "z": "de69d2b85c95d8c0",
        "group": "group2",
        "order": 0,
        "width": 6,
        "height": 1,
        "name": "Aceleração X",
        "label": "Aceleração X",
        "format": "{{msg.payload['Aceleração X']}} m/s²",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 340,
        "wires": []
    },
    {
        "id": "b7a4685a79b8aaec",
        "type": "ui_text",
        "z": "de69d2b85c95d8c0",
        "group": "group2",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Aceleração Y",
        "label": "Aceleração Y",
        "format": "{{msg.payload['Aceleração Y']}} m/s²",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "f4a9b7286c7f3cda",
        "type": "ui_text",
        "z": "de69d2b85c95d8c0",
        "group": "group2",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Aceleração Z",
        "label": "Aceleração Z",
        "format": "{{msg.payload['Aceleração Z']}} m/s²",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "e64f760a113f72fc",
        "type": "debug",
        "z": "de69d2b85c95d8c0",
        "name": "Payload Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "9f1ab740.dad45",
        "type": "mqtt-broker",
        "name": "Broker com Auth",
        "broker": "172.208.54.189",
        "port": "1883",
        "clientid": "nodered-dashboard",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "group1",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "group2",
        "type": "ui_group",
        "name": "Aceleração",
        "tab": "tab1",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]